<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-12">
                <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                        <ul class="navbar-nav">
                          <li *ngFor="let link of links; let i = index;" class="nav-item" [ngClass]="i === 0 ? 'active' : ''">
                            <a class="nav-link" [routerLink]="[link]">{{link}} Page</a>
                          </li>
                        </ul>
                      </nav>
        </div>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>        
